/data/
**/license.key
/oss/
/.docker-libs/
node_modules/
**/node_modules/
**/target/
**/dist/
.DS_Store
*.log
.idea/
.vscode/
report-pdf/out/
report-pdf/logs/
report-pdf/debug/
report-pdf/fonts/*.ttf
report-pdf/fonts/*.ttc
report-pdf/fonts/*.TTF
report-pdf/fonts/*.TTC
!.gitkeep
